<h1>Listing pbbs_hosts</h1>

<table>
  <tr>
    <th>Hostname</th>
    <th>Sysname</th>
    <th>Release</th>
 	<th>Version</th>
	<th>Machine</th>
	<th># CPUS</th>
	<th>Processor model</th>
	<th>MHz</th>
  </tr>

<% @pbbs_hosts.each do |pbbs_host| %>
  <tr>
     <td><%= pbbs_host.hostname %></td>
<td><%= pbbs_host.sysname %></td>
<td><%= pbbs_host.releasen %></td>
<td><%= pbbs_host.version %></td>
<td><%= pbbs_host.machine %></td>
<td><%= pbbs_host.numprocs %></td>
<td><%= pbbs_host.procmodel %></td>
<td><%= pbbs_host.mhz %></td>

     <td><%= link_to 'Edit', edit_pbbs_host_path(pbbs_host) %></td>
   </tr>
<% end %>
</table>

<br />

 