<p id="notice"><%= notice %></p>

<table> 

   <tr>
    <td>Host</td> <td><%= @pbbs_host.hostname %></td> </tr>
  <tr><td>Sys</td><td><%= @pbbs_host.sysname %></td> </tr>
  <tr><td>Release</td><td><%= @pbbs_host.releasen %></td> </tr>
  <tr><td>Version</td><td><%= @pbbs_host.version %></td> </tr>
  <tr><td>Machine</td><td><%= @pbbs_host.machine %></td> </tr>
  <tr><td>Num processors</td><td><%= @pbbs_host.numprocs %></td> </tr>
  <tr><td>Processor model</td><td><%= @pbbs_host.procmodel %></td> </tr>
  <tr><td>MHz</td><td><%= @pbbs_host.mhz %></td> </tr>
  <td> <%= link_to 'Delete all runs from this host', @pbbs_host, :confirm => 'Are you sure?', :method => :delete %></td>

</table>
 