<%= form_for(@pbbs_problem) do |f| %>
  
<% if @pbbs_problem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pbbs_problem.errors.count, "error") %> prohibited this pbbs_problem from being saved:</h2>
		
      <ul>
      <% @pbbs_problem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
<p>
	Description: <br/>
<%= f.text_area :description %>
</p>

<div class="actions">
    <%= f.submit %>
  </div>
<% end %>
