<h1>Runs for <u><%= @problem.name %></u></h1>

<%= link_to 'Back to Problems', :controller => "pbbs_problems" %>

<p>
	<small>
		
		Problem hash: <%= @problem.content_hash %>
 </small>
</p>

<h2>Hall of Fame grouped by Host</h2>

Hosts in the order of the minimum benchmark time.

<table>
	<tr>
<th></th>
<th>Host</th>
<th>Program</th>
<th>#CPU</th>
<th>Mean time</th>
<th>Min time</th>
<th>Median time</th>
<th>Username</th>
<th>Executed</th>
</tr>
<% @halloffame.each do |pbbs_run| %>

<tr>
	<td>
		 <%= link_to 'Details',  :action => "index", :controller => "pbbs_subruns", :run_id => pbbs_run.id %> </td>
		<td> <%= link_to pbbs_run.pbbs_host.hostname, :controller => "pbbs_hosts", :action => "show", :id => pbbs_run.host_id %>  </td>

	<td> <tt><%= pbbs_run.pbbs_program.name %></tt></td>

	  <td> <b><%= pbbs_run.numprocs %></b></td>
   	  <td> <b><%= pbbs_run.mean_time %> </b></td>
	  <td> <%= pbbs_run.min_time %> </td>
      <td> <%= pbbs_run.median_time %> </td>
	  <td> <%= pbbs_run.username %> </td>
	  <td> <%= pbbs_run.created %> </td>
      <td> <%= link_to 'Delete', pbbs_run, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<h2>Parallel speedups by Host</h2>

<% if (params[:allprocs] == nil) then %>
<%= link_to "Show all CPU combinations",  :action => "index", :problem_id => @problem_id, :orderby => params[:orderby], :allprocs => 1 %>
<% else %>
<%= link_to "Hide all CPU combinations",  :action => "index", :problem_id => @problem_id, :orderby => params[:orderby]  %>

<% end %>
<table>
<tr>
	<th>Host</th> 
<th>Speedup</th>	
</tr>
<% @speedups.each do |sp| %>
<% if (sp["recs"].size() < 2) then 
	  next
   end
%>
<tr>
<td><%= sp["host"] %><br/>
	<%
		cdata1 = ""
		cdata2 = ""
		maxcpus = 1
		for a in sp["recs"]
			if (cdata1.length()>0)
			  cdata1 += ","
			  cdata2 += ","
			end
			cdata1 += number_with_precision(a["speedup"], :precision =>3) 
			cdata2 += a["cpus"].to_s() 
			maxcpus = a["cpus"]
		end
		data =   cdata2 + "|" + cdata1 + "|" + cdata2 + "|" + cdata2
	%>
		
	<img src="http://chart.apis.google.com/chart?chxr=0,0,<%= maxcpus%>|1,0,<%= maxcpus%>&chxs=0,676767,11.5,0,lt,676767|1,676767,11.5,0,lt,676767&chxt=x,y&chs=300x225&cht=lxy&chco=AA0033|989866&chds=0,<%= maxcpus%>,0,<%= maxcpus%>&chd=t:<%= data %>&chls=3" width="100" height="80" alt="" />
	
	
	</td>
<td><tt><%= sp["program"] %></tt><br/>
	<table>
		<tr>
			<th>Cpus</th>
		<% sp["recs"].each do |s| %>
			<td>  <%= s["cpus"] %></td>
		<% end %>
		</tr>
		<tr>
			<th>Speedup</th>
			
			<% sp["recs"].each do |s| %>
				<td>   <%= number_with_precision(s["speedup"], :precision => 2) %>x</td>
			<% end %>
			</tr>
			
			<tr>
				<th>Runtime</th>
				
				<% sp["recs"].each do |s| %>
					<td>   <%= number_with_precision(s["runtime"].to_f(), :precision => 2) %>  </td>
				<% end %>
				</tr>
	</table>
	</td>
</tr>
<% end %>
</table>

<h2>All runs</h2>
<p>
<div class="descs">
Order by: <%= @orderby %>  (click column header to sort)
</div>
</p>
<table>
  <tr>
    <th></th>
 	<th><%= link_to "Program",  :action => "index", :problem_id => @problem_id, :orderby => "program_id asc" %></th>
	<th><%= link_to "Host",  :action => "index", :problem_id => @problem_id, :orderby => "numprocs,hostid asc" %></th>
	<th><%= link_to "# CPU",  :action => "index", :problem_id => @problem_id, :orderby => "numprocs asc" %></th>
	<th><%= link_to "Mean time",  :action => "index", :problem_id => @problem_id, :orderby => "mean_time asc" %></th>
	<th><%= link_to "Min time",  :action => "index", :problem_id => @problem_id, :orderby => "min_time asc" %></th>
	<th><%= link_to "Median time",  :action => "index", :problem_id => @problem_id, :orderby => "median_time asc" %></th>
	<th><%= link_to "Username",  :action => "index", :problem_id => @problem_id, :orderby => "username asc" %></th>
	<th><%= link_to "Executed",  :action => "index", :problem_id => @problem_id, :orderby => "created desc" %></th>
 	
  </tr>

<% @pbbs_runs.each do |pbbs_run| %>
  <tr>
	<td> <%= link_to 'Details',  :action => "index", :controller => "pbbs_subruns", :run_id => pbbs_run.id %> </td>
 	<td> <tt><%= pbbs_run.pbbs_program.name %></tt></td>
	<td> <%= link_to pbbs_run.pbbs_host.hostname, :controller => "pbbs_hosts", :action => "show", :id => pbbs_run.host_id %> </td>

	  <td> <b><%= pbbs_run.numprocs %></b></td>
   	  <td> <b><%= pbbs_run.mean_time %> </b></td>
	  <td> <%= pbbs_run.min_time %> </td>
      <td> <%= pbbs_run.median_time %> </td>
	  <td> <%= pbbs_run.username %> </td>
	  <td> <%= pbbs_run.created %> </td>
       <td> <%= link_to 'Delete', pbbs_run, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

